<template name="addcategory">
	<div class="container con-body">
		<div class="row">
			{{> adminmenu}}
			<div class="col-lg-9">
					<form role="form">
                        <div class="form-group">
                            <label>Category Name</label>
                            <input class="form-control" id="name" required>
                        </div>
                        <div class="form-group">
                            <label>Category Name</label>
                            <select class="form-control" id="parent">
                                <option style="display:none" value="0">No Parent</option>
                                {{#each getParent}}
                                    <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Image</label>
                            <input type="file" class="form-control" id="upload" required>
                        </div>
                        <div class="row pull-right">
                            <button type="submit" id="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
				</div>
		</div>
	</div>
</template>