<template name="jobdesc">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
				  <label for="pwd">Job Description</label>
				  <textarea class="form-control" id="jobdescription"></textarea>
				</div>
				<div class="form-group">
				  <label for="pwd">Job Requirement</label>
				  <textarea class="form-control" id="jobRequirement"></textarea>
				</div>
				<button class="btn btn-default pull-right" id="jobdes">Next</button>
			</div>
		</div>
	</div>
</template>