<template name="jobinfo">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
				  <label for="sel1">Select Level:</label>
				  <select class="form-control" id="joblevel">
				    <option value="allJobLevel">AllJobLevel</option>
				    <option value="allJobLevel">EntryLevel</option>
				    <option value="allJobLevel">Intermediate</option>
				    <option>MiddleManagement</option>
				    <option>UpperManagement</option>
				     <option>Executive</option>
				  </select>
				</div>
				<div class="form-group">
				  <label for="pwd">Year of Exp.:</label>
				  <input type="text" class="form-control" id="yearExp">
				</div>
				<div class="form-group">
				  <label for="pwd">Hiring :</label>
				  <input type="text" class="form-control" id="nbhiring">
				</div>
				<div class="form-group">
				  <label for="pwd">Salary :</label>
				  <input type="text" class="form-control" id="salary">
				</div>
				<div class="form-group">
				  <label for="sel1">Select Gender:</label>
				  <select class="form-control" id="sex">
				    <option value="male">Male</option>
				    <option value="female">Female</option>
				    <option value="both">Both</option>
				  </select>
				</div>
				<div class="form-group">
				  <label for="pwd">Age :</label>
				  <input type="text" class="form-control" id="age">
				</div>
				<div class="form-group">
				  <label for="pwd">Publish Date :</label>
				  <input type="text" class="form-control" id="publishdate">
				</div>

			</div>
			<div class="col-md-6">
				<div class="form-group">
				  <label for="sel1">Select Term:</label>
				  <select class="form-control" id="selectterm">
				    <option value="fulltime">Full Time</option>
				    <option value="parttime">Part Time</option>
				    <option>Contract</option>
				    <option>Temporary</option>
				    <option>Volunteer</option>
				    <option>Internship</option>
				   
				  </select>
					
				</div>
				<div class="form-group">
				  <label for="sel1">Select Function:</label>
				  <select class="form-control" id="selectFunction">
				    <option value="account">Account</option>
				    <option value="management">Information Tec</option>
				  </select>
					
				</div>
				<div class="form-group">
				  <label for="sel1">Select Industry:</label>
				  <select class="form-control" id="selectIndustry">
				    <option value="economic">Information Tec</option>
				    <option value="econo">Economic</option>
				  </select>
					
				</div>
				<div class="form-group">
				  <label for="sel1">Select Qualification:</label>
				  <select class="form-control" id="selectQual">
				    <option>Information Tec</option>
				    <option>Economic</option>
				  </select>
					
				</div>
				<div class="form-group">
				  <label for="sel1">Select Language:</label>
				  <select class="form-control" id="selectLanguage">
				    <option value="en">English</option>
				    <option value="ch">Chines</option>
				  </select>
					
				</div>
				<div class="form-group">
				  <label for="sel1">Select Location:</label>
				  <select class="form-control" id="selectLocation">
				    <option>Phnom Penh</option>
				    <option>Takeo</option>
				  </select>
					
				</div>
				<div class="form-group">
				  <label for="pwd">Closing Date :</label>
				  <input type="text" class="form-control" id="closedate">
				</div>
			</div>
			<div class="pull-right"><button class="btn" id="btnNext">Next</button></div>
		</div>
	</div>

</template>