<template name="home">
	<div class="pb-index-header">
	    <div class="container">
	        <div class="col-md-12 text-center">
	            <h1 style="font-size: 48px;">FIRST PROJECT OF METEOR</h1>
	            <div class="clearfix hidden-xs" style="height: 10px;"></div>
	            <p class="text-center">
	                Welcome NooLab
	            </p>
	        </div>
	    </div>
	</div>

	<div class="container">
	    <div class="container">
	        <div class="page-header">
	            <h1>Premium Themes <small>Commercial Bootstrap Theme Marketplace</small></h1>
	        </div>

	        <div class="row">
			<div class="col-sm-6 col-md-4 pb-template" style="margin-bottom: 30px;">
			    <div class="thumbnail text-center">
			        <div class="clearfix" style="width: 100%; height: 200px; overflow: hidden;">
			            <a href="/theme/corpboot-corporate-website-template" title="Corpboot – Corporate Website">
			                <img src="/Public/Img/f/d/fdbc4e20dac877fcb1aef77bd1916af8.png" class="img-responsive" alt="Corpboot – Corporate Website" title="Corpboot – Corporate Website" />
			            </a>
			        </div>
			        <div class="clearfix" style="width: 100%; height: 80px; overflow: hidden;">
			            <a href="/theme/corpboot-corporate-website-template" title="Corpboot – Corporate Website">
			                <h3>Corpboot – Corporate Website</h3>
			            </a>
			            <h4>$25.00</h4>
			        </div>
			    </div>
			</div>
			<div class="col-sm-6 col-md-4 pb-template" style="margin-bottom: 30px;">
			    <div class="thumbnail text-center">
			        <div class="clearfix" style="width: 100%; height: 200px; overflow: hidden;">
			            <a href="/theme/startup-one-page" title="Startup One Page">
			                <img src="/Public/Img/b/c/bcb7f4d8eab4989227f328d1ddc46667.png" class="img-responsive" alt="Startup One Page" title="Startup One Page" />
			            </a>
			        </div>
			        <div class="clearfix" style="width: 100%; height: 80px; overflow: hidden;">
			            <a href="/theme/startup-one-page" title="Startup One Page">
			                <h3>Startup One Page</h3>
			            </a>
			            <h4>$15.00</h4>
			        </div>
			    </div>
			</div>
			<div class="col-sm-6 col-md-4 pb-template" style="margin-bottom: 30px;">
			    <div class="thumbnail text-center">
			        <div class="clearfix" style="width: 100%; height: 200px; overflow: hidden;">
			            <a href="/theme/one-page-dark-corporate" title="One Page Dark Corporate">
			                <img src="/Public/Img/f/a/faf36da57e8d6460dc3b12175db7b3a9.png" class="img-responsive" alt="One Page Dark Corporate" title="One Page Dark Corporate" />
			            </a>
			        </div>
			        <div class="clearfix" style="width: 100%; height: 80px; overflow: hidden;">
			            <a href="/theme/one-page-dark-corporate" title="One Page Dark Corporate">
			                <h3>One Page Dark Corporate</h3>
			            </a>
			            <h4>$12.00</h4>
			        </div>
			    </div>
			</div>
			<div class="col-sm-6 col-md-4 pb-template" style="margin-bottom: 30px;">
			    <div class="thumbnail text-center">
			        <div class="clearfix" style="width: 100%; height: 200px; overflow: hidden;">
			            <a href="/theme/appstrap-app-landing-page" title="AppStrap – App Landing Page">
			                <img src="/Public/Img/f/2/f28879fd3eddbf533546fdcc3be3f1fb.png" class="img-responsive" alt="AppStrap – App Landing Page" title="AppStrap – App Landing Page" />
			            </a>
			        </div>
			        <div class="clearfix" style="width: 100%; height: 80px; overflow: hidden;">
			            <a href="/theme/appstrap-app-landing-page" title="AppStrap – App Landing Page">
			                <h3>AppStrap – App Landing Page</h3>
			            </a>
			            <h4>$10.00</h4>
			        </div>
			    </div>
			</div>
			<div class="col-sm-6 col-md-4 pb-template" style="margin-bottom: 30px;">
			    <div class="thumbnail text-center">
			        <div class="clearfix" style="width: 100%; height: 200px; overflow: hidden;">
			            <a href="/theme/worldwide-responsive-one-page-html-theme" title="worldwide - Responsive Page">
			                <img src="/Public/Img/a/7/a78afe02fed8213401ca06c5396117d2.png" class="img-responsive" alt="worldwide - Responsive Page" title="worldwide - Responsive Page" />
			            </a>
			        </div>
			        <div class="clearfix" style="width: 100%; height: 80px; overflow: hidden;">
			            <a href="/theme/worldwide-responsive-one-page-html-theme" title="worldwide - Responsive Page">
			                <h3>worldwide - Responsive Page</h3>
			            </a>
			            <h4>$14.00</h4>
			        </div>
			    </div>
			</div>
			<div class="col-sm-6 col-md-4 pb-template" style="margin-bottom: 30px;">
			    <div class="thumbnail text-center">
			        <div class="clearfix" style="width: 100%; height: 200px; overflow: hidden;">
			            <a href="/theme/multi-responsive-one-page-html-theme" title="Multi - Responsive One Page">
			                <img src="/Public/Img/0/2/02e61dc18dfff0a99f6acae1d4f92472.png" class="img-responsive" alt="Multi - Responsive One Page" title="Multi - Responsive One Page" />
			            </a>
			        </div>
			        <div class="clearfix" style="width: 100%; height: 80px; overflow: hidden;">
			            <a href="/theme/multi-responsive-one-page-html-theme" title="Multi - Responsive One Page">
			                <h3>Multi - Responsive One Page</h3>
			            </a>
			            <h4>$14.00</h4>
			        </div>
			    </div>
			</div>
	        </div>

	        <div class="clearfix text-center">
	            <span class="visible-xs">
	                <a class="btn btn-lg pb-button" title="View more" href="/themes">Premium Themes &#187;</a>
	            </span>
	            <span class="hidden-xs">
	                <a class="btn btn-lg pb-button" title="View more" href="/themes" style="width:360px;">View More Premium Themes &#187;</a>
	            </span>
	        </div>
	    </div>

	    <div class="clearfix" style="height: 50px;"></div>

	</div>
</template>